<a class="minilist" href="#/list/{{objectId}}">
	<i class="icon-chevron-right"></i>
	<div class="name">{{title}}</div>
	<div class="tagline">{{tagline}}</div>
	<i class="icon-swipe"></i>
</a>
{{> list-swipe-menu}}
