.business, .minilist {
	text-align: left;
	background: $ltbeige;

	.name {
		margin-top: 0;
		font-size: 1.3em;
		line-height: 1.5em;
	}

	// on mobile, business lists are shown as full-width list items
	@media (max-width: 500px) {
		padding: 12px 15px;

		border-top: 1px solid white;
		border-bottom: 1px solid rgb(188,190,192);

		.address { 
			display: inline; 
			&.line2:before { content: ', '; }
		}

		.icons { padding-right: 15px; }
	}

	// on desktop, lists are shown as pretty business cards
	@media (min-width: 501px) {
		display: inline-block;
		border-radius: 6px;
		padding: 10px !important;
		margin: 10px;
		width: 200px;
		vertical-align: top;

	}
	.icons {
		float: right;
	}
}

.minivenue, .minilist {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;

	&:hover { text-decoration: none; }

	.icon-chevron-right {
		@include absolute-middle(40px);
		right: 20px;
		font-size: 40px;
		color: $medbeige;
	}

	.icon-swipe {
		$size: 30px;
		@extend .icon-ellipsis-vertical;
		font-size: $size;
		color: $medbeige;
		position: absolute;
		top: 50%;
		height: $size;
		margin-top: -$size;
		right: -10px;
		font-size: $size;
		padding: ($size / 2) 20px;
	}

	.icon { 
		float: left; 
		margin-top: -2px;
	}
	.name {
		display: block;
	}
	.address, .tagline {
		color: #aaa;
		font-family: $Cassia;
	}
}

.minilist {
	padding-left: 40px;
}
