.business {
	text-align: left;

	.name {
		margin-top: 0;
	}

	// on mobile, business lists are shown as full-width list items
	@media (max-width: 500px) {
		padding: 12px 15px;

		border-top: 1px solid white;
		border-bottom: 1px solid rgb(188,190,192);

		.address { 
			display: inline; 
			&.line2:before { content: ', '; }
		}

		.icons { padding-right: 15px; }
	}

	// on desktop, lists are shown as pretty business cards
	@media (min-width: 501px) {
		display: inline-block;
		background: #eee;
		border-radius: 6px;
		padding: 10px !important;
		margin: 10px;
		width: 200px;
		vertical-align: top;

	}
	.icons {
		float: right;
	}
}

.minivenue {
	.icon { 
		float: right; 
		margin-top: -2px;
	}
	.name {
		font-weight: bold;
		display: block;
	}
	.address {
		color: #aaa;
	}
}
