@import "fonts";
@import "variables";

/* remember to remove line 30: @import "sprites"; from bootstrap.scss */
@import "../components/bootstrap-sass/lib/bootstrap";

@import "../components/font-awesome/scss/font-awesome";

// utility files
@import "mixins";

// individual template files
@import "navbar";
@import "search";
@import "business";
@import "list";
@import "menu";
@import "users";

body {
	background: rgb(241,242,242);
}

form {
	margin-bottom: 0;
}

// prevent horizontal scrolling ALWAYS
#main { overflow-x: hidden; }

.container-fluid {
	padding: 0 !important;
}

#venueSearch {
	padding: 10px 20px;

	input, button {
		font-size: 18px;
		height: 40px;
		box-sizing: border-box;
	}

	#term { width: 200px; }
	#near { width: 120px; }
}

.modal {
	padding: 10px;
	@media (max-width: $mobileWidth) {
		width: auto;
		left: 10%;
		right: 10%;
		margin: 0;
	}
}

.table-row {
	display: table;

	& > * {
		display: table-cell;
		vertical-align: top;
		padding-right: 10px;

		&:last-child, &.full {
			padding-right: 0;
		}
	}

	.fixed { width: 0; } 
	.variable { width: 100%; }
}

.arrow {
	position: relative;

	&.active:after {
		top: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(0, 0, 0, 0);
		border-top-color: black;
		border-width: $arrowSize;
		left: 50%;
		margin-left: -$arrowSize;
	}
}

#offscreen {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 100%;
	width: 100%;
	background: $darksage;
	z-index: 1030;
	@include transition(left 0.5s);

	&.onscreen {
		left: 0;
	}
}