@mixin table-row-grid($fixedWidth, $cellSpacing) {

	// the infamous table-row layout trick:
	// two table-cells. one with fixed width and other with width: 100%; 
	// 100% cell auto-sizes to fill room left by fixed-width cell.

	& > div { 
		display: table-row; 
		& > * { 
			display: table-cell; 					// all children are table cells
			padding: 0 $cellSpacing $cellSpacing 0; // with bottom, right padding for space
		} 				
		& > *:first-child { width: 100%; } 	// first child is 100% width
		& > *:last-child { 
			width: $fixedWidth;		// second child is custom width
			padding-right: 0;		// and no outer side padding
		}  	
		&:last-child > * { padding-bottom: 0; } 	// last child has no bottom padding
	}
}