@import "mixins";

#search {
	background: $darksage;

	.nav-tabs {
		margin-bottom: 0;

		li {
			width: 33%;
			text-align: center;
			font-size: 1.5em;
			line-height: normal;
			margin-bottom: 0;

			& > a {
				color: $ltsage;
				border: none;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;

				> * { vertical-align: middle; }

				span {
					font-size: 0.8em;
					text-transform: uppercase;
				}
			}
			&:hover > a {
				background: $medsage;
				border: none;
			}

			&.active {
				&:after { border-top-color: $darksage; }
				& > a {
					@include gradient-vertical($medsage, $darksage);
					color: white;
					border: none;
				}
			}
		}
	}

	.query-container {
		padding: 10px;
		background: $mint;

		input, button {
			box-sizing: border-box;
			padding: 0.5em;
			height: auto;
		}

		input { 
			width: 100%; 
		}
		button { 
			width: 80px; 
			@include gradientBar($medblush, $darkblush);
		}
	}
}

// $maxFormWidth: 600px;

// $iconWidth: 24px;
// $inputHeight: 40px;
// $buttonsWidth: 80px;
// $borderColor: rgb(209,211,212);

// // wrapper around entire form that fills screen with background color bar
// #search {
// 	background: rgb(230,231,232);
// 	border-bottom: 1px solid $borderColor;

// 	form {
// 		// centered with just a max width makes it auto-responsive
// 		margin: auto;
// 		max-width: $maxFormWidth;
// 		padding: 20px;

// 		//put a grid of table rows with one fixed width column 
// 		&:not(.one-line) {
// 			@include table-row-grid(10px, 0, $buttonsWidth);
// 		}
// 		// btns evenly split width of fixed cell
// 		.btn-group .btn { width: 50%; }
		
// 		// invisible wrapper around text field to place icon on input
// 		.wrapper { 
// 			position: relative; 
// 			display: table-cell;
// 			padding-right: 10px;
// 			// icon is absolute-positioned on left side of text input
// 			i {
// 				position: absolute;
// 				top: 7px;
// 				left: 8px;
// 				font-size: $iconWidth;
// 				width: $iconWidth;
// 				text-align: center;
// 				color: $borderColor;
// 			}
// 			// text input fills entire wrapper with wide padding for icon
// 			input { 
// 				width: 100%;
// 				margin: 0; 
// 				padding-left: $inputHeight;
// 				box-sizing: border-box;
// 			}
// 		}

// 		.typeahead {
// 			left: 20px !important;
// 			right: 20px;
// 		}

// 		// bigger, badder buttons and inputs
// 		input, button {
// 			font-size: 20px;
// 			height: $inputHeight;
// 			padding: 0;
// 		}


// 		// show loading spinner when 'load' class is added to #submit
// 		.loading { font-size: 1.5em; display: none; }
// 		.load {
// 			@extend .disabled;	// also disabled button appearance
// 			.loading { display: inline-block; }
// 			:not(.loading) { display: none; }
// 		}
// 	}

// 	form.one-line {
// 		.wrapper {
// 			float: left;
// 			display: inline-block;
// 			position: relative;
// 			padding-right: 0;
// 		}

// 		@media (min-width: $maxFormWidth + 1) {
// 			height: 40px;

// 			.query {
// 				width: 70%;

// 				input { border-radius: 6px 0 0 6px; }
// 			}
// 			.near {
// 				width: 30%;

// 				input {
// 					border-left: none;
// 					border-radius: 0 6px 6px 0;
// 				}
// 			}
// 		}
// 		@media (max-width: $maxFormWidth) {
// 			height: 80px;

// 			.wrapper { width: 100%; }
// 			.query input {
// 				border-radius: 6px 6px 0 0;
// 			}
// 			.near input {
// 				border-top: none;
// 				border-radius: 0 0 6px 6px;
// 			}
// 		}
// 	}
// }

// #newList {
// 	// @include table-row-grid(10px, 0, $buttonsWidth);
// }