<div class="swipe-menu">
	<ul class="menu-horizontal unstyled inline">
		<li><button id="save"><i class="icon-heart-empty"></i></button></li>
		<li><button id="add"><i class="icon-list"></i></button></li>
		<li><button id="share"><i class="icon-share"></i></button></li>
	</ul>
</div>