<div id="login" class="well">
	<p>
		Please sign in with Facebook so you can share with your friends!
	</p>
	<button class="btn facebook">
		<i class="icon-facebook-sign"></i>
		<span>Login with Facebook</span>
	</button>
</div>