<ul class="menu-vertical top unstyled">
	<li><a href="#"><i class="icon-home"></i></a></li>
	<li><a href="#/favorites"><i class="icon-heart"></i></a></li>
	<li><a href="#/list"><i class="icon-list"></i></a></li>
	<li><a href="#/shares"><i class="icon-comments"></i></a></li>
</ul>
<ul class="menu-vertical bottom unstyled">
	<li><a href="#/profile"><i class="icon-user"></i></a></li>
	<li><a href="#/settings"><i class="icon-cog"></i></a></li>
	<li>
	{{#ifLoggedIn this}}
		<a href="#/logout"><i class="icon-signout icon-rotate-180"></i></a>
	{{else}}
		<a href="#/login"><i class="icon-signin"></i></a>
	{{/ifLoggedIn}}
	</li>
</ul>