{{! navbar contents! the view becomes div.navbar-inner so all we need here are the children }}
<button id="menu" class="btn-nav pull-left"><i class="icon-reorder"></i></button>
<a href="#/search" id="searchbtn" class="btn-nav pull-right arrow"><i class="icon-search"></i></button>
<div class="brand">
	<a href="#">Parakeep</a>
</div>
