<form id="search">
	<div>
		<span class="wrapper">
			<i class="icon-search"></i>
			<input type="text" id="query" placeholder="businesses or vendors" value="pizza">
		</span>
		<span class="btn-group" data-toggle="checkbox">
			<button type="button" class="btn active"><i class="icon-building"></i></button>
			<button type="button" class="btn"><i class="icon-user"></i></button>
		</span>
	</div>
	<div>
		<span class="wrapper">
			<i class="icon-map-marker"></i>
			<input type="text" id="near" placeholder="search location" value="seattle">
		</span>
		<button class="btn btn-primary" type="submit" id="submit"><span>GO</span><i class="loading icon-spinner icon-spin icon-2x"></i></button>
	</div>
</div>